* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham Pro", sans-serif;
}

button {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

ul,a{
  text-decoration: none;
}

body {
  background-color: #f0f0f0;
}

.container {
  width: 100%;
  min-width: 390px;
  margin: 0 auto;
  color: #2c2b31;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  background-color: #f19d2f;
}
.header p {
  font-size: 12.69px;
  line-height: 12.15px;
  text-transform: uppercase;
  color: #2c2b31;
}

@media only screen and (min-device-width: 350px) and (max-device-width: 480px) {
}

.under_header {
  height: 92px;
  background-color: #ffd1ac;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 54px;
  text-align: center;
  position: relative;
}

.ellipse {
  position: absolute;
  top: 8.5px;
  right: 54.5px;
}

.banner {
  min-width: 390px;
  min-height: 281px;
  background-image: url(../public/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.offer {
  position: absolute;
  left: 13px;
  bottom: 14px;
  background-color: #f19d2f;
  color: #ffffff;
  width: 103px;
  height: 58px;
  border: none;
  border-radius: 7.1px;
  padding: 9px 7.1px;
  gap: 10.14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer p {
  font-weight: 700;
  font-size: 10.6px;
  line-height: 10.14px;
  text-transform: uppercase;
}

#timer {
  font-weight: 700;
  font-size: 21.25px;
  line-height: 20.34px;
}

.price {
  position: absolute;
  right: 13px;
  bottom: 14px;
  background-color: #37d997;
  color: #ffffff;
  width: 116px;
  height: 58px;
  border: none;
  border-radius: 5.68px;
  padding: 6.49px 7.02px 5.68px 7.02px;
  gap: 8.11px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#old_price {
  font-weight: 700;
  font-size: 18.08px;
  line-height: 17.3px;
}

.price hr {
  position: absolute;
  width: 80px;
  height: 3.51px;
  background-color: #e27500;
  border: none;
  top: 13px;
}

#new_price {
  font-weight: 700;
  font-size: 22.3px;
  line-height: 21.34px;
}

.section {
  display: block;
  margin: 11px 16px 25px 16px;

}

.trust {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1px;
  margin-bottom: 20px;

}

.trust p {
  font-size: 12.07px;
  line-height: 11.55px;
  color: #2c2b31;
  font-weight: 400;
  letter-spacing: 1px;
}

#sell {
  color: #37d997;
}

.caption {
  font-weight: 700;
  margin: 0 1px;
  font-size: 19.17px;
  line-height: 18.34px;
  text-transform: uppercase;
  color: #2c2b31;
  margin-bottom: 20px;
}

#big{
  width: 100%;
  margin-bottom: 20px;
  transform: translateZ(-50%);
  animation-name: Appearance;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);
}

@keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


.small{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 66.03px;
  margin-bottom: 20px;
}

.small img{
  height: 100%;
  width: 80px;
  cursor: pointer;
}

.small :not(:last-child){
  margin-right: 5px;
}

.disabled{
  opacity: .4;
}

.description{
  font-weight: 700;
  font-size: 15.29px;
  line-height: 14.63px;
  margin-bottom: 20px;
}

.description span{
  font-weight: 400;
}

.description img{
  margin-right: 5px;
}

.description p{
  margin-bottom: 12px;
}

.options{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.color, .size{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2C2B31;
  font-size: 10px;
  line-height: 9.57px;
}

.color span, .size span{
  margin-bottom: 5px;
}

.color select, .size select{
  appearance: none;
  overflow: hidden;
  width: 170px;
  height: 50px;
  border-radius: 15px;
  border:none;
  text-align-last: center;
  font-weight: 700;
  font-size: 21.69px;
  line-height: 20.76px;
  background: url("../public/arrow.svg") no-repeat right;
  background-position-x: calc(100% - 5px);
  background-color: #fff;

}

.buy{
  display: block;
  height: 50px;
  background-color: #37D997;
  border-radius: 15px;
  border: none;
  color: #FFFFFF;
  font-size: 30px;
  line-height: 28.71px;
  text-align: center;
  cursor: pointer;
  width: 100%;
padding-top: 10px;
}